:root {
  --lightest: #f2f4f1; /* #bfd7ed */
  --light: #c0c0ff;
  --dark: #0074b7;
  --darkest: #003b73;
  --max-width: 600px;
}

body {
  color: var(--darkest);
  background-color: var(--lightest);
  max-width: var(--max-width);
  margin-left: 20px;
}

#app {
  width: 50%;
  margin: 10pt;
  padding: 10pt 12pt 0pt 12pt;
  border: 1px solid var(--darkest);
}

input, textarea, select {
  width: 80%;
}

.die, .int {
  width: 20%;
}

label {
  font-weight: bold;
  text-align: right;
}

#rotate-digits {
  padding: 10pt;
}

#rotate-digits td {
  width: 2em;
}

#rotate-digits button:hover {
  width: 3em;
  background-color: var(--light);
  color: var(--darkest);
}

button#reset {
  background-color: var(--dark);
}

button#reset:hover {
  background-color: var(--darkest);
  color: white;
}


#rotate-digits td, button {
  border-radius: 10px;
  background-color: var(--light);
  padding: 5px;
  border: 2px;
  border-color: var(--dark);
  color: var(--darkest);
  text-align: center;
}

#rotate-digits td.empty {
  background-color: var(--lightest);
}

button:hover {
  background-color: var(--darkest);
  color: white;
}

form {
  padding: 10px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 2vw;
  border: 1px solid blue;
  padding: 5px;
  background-color: beige;
}

.scroll {
  font-size: 150%;
  padding: 20pt 10pt;
  width: 100;
}
    
.scroll a[rel="prev"] {
  float: left;
 }

.scroll a[rel="next"] {
  float: right;
}



